<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <%- include('./templates/cssbasic') %>
</head>

<body>
<!-- HEADER -->
  <%- include('./templates/header') %>
  <div class="body_container">
    <h1>Edicion usuario</h1>
    <form action="/user/edit/<%= idFound.id %>" method="POST">
        <input type="text" name="username" value="<%= idFound.username %>" placeholder="Ingresa tu nombre">
        <br>
        <input type="text" name="lastname" value="<%= idFound.lastname %>" placeholder="Ingresa tu nombre">
        <br>
        <input type="text" name="password" value="<%= idFound.password %>" placeholder="*****">
        <br>
        <input type="text" name="email" value="<%= idFound.email %>" placeholder="Ingresa tu email">
        <br>
        <input type="text" name="cel" value="<%= idFound.cel %>" placeholder="Ingresa tu telefono">
        <br>
        <input type="text" name="email" value="<%= idFound.email %>" placeholder="Ingresa tu email">
        <br>      
        <button type="submit">Confirmar</button>
    </form>
  </div>
<!-- FOOTER -->
    <%- include('./templates/footer') %>
</body>

</html>