<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./templates/cssbasic') %>
    <link rel='stylesheet' href='/stylesheets/product.css' />
  </head>
  <body>
  <!-- HEADER -->
  <%- include('./templates/header') %>
    <!-- BODY -->
      <div class="body_container">
        <div class="body_content">
          <!-- Menu Feedback -->
          <div class="overflow_feedback">
            <div class="feedback_container">
              <!-- Boton Estrellas -->
              <div class="fb_btn">
                <div class="fb_btn_score">
                  <h2>4.7</h2>
                </div>
                <div class="fb_btn_stars_container">
                  <div class="fb_btn_stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                  </div>
                  <div class="fb_btn_opi">
                    <p>246 Opiniones</p>
                  </div>
                </div>
              </div>
              <!-- Barras Estrellas -->
              <div class="fb_bars">
                <div class="fb_bar5">
                  <div class="fb_text">
                    <p>5 Estrellas</p>
                  </div>
                  <div class="fb_bar_container">
                    <div class="fb_bar_complete">
                    </div>
                  </div>
                </div>
                <div class="fb_bar4">
                  <div class="fb_text">
                    <p>4 Estrellas</p>
                  </div>
                  <div class="fb_bar_container">
                    <div class="fb_bar_complete">
                    </div>
                  </div>
                </div>
                <div class="fb_bar3">
                  <div class="fb_text">
                    <p>3 Estrellas</p>
                  </div>
                  <div class="fb_bar_container">
                    <div class="fb_bar_complete">
                    </div>
                  </div>
                </div>
                <div class="fb_bar2">
                  <div class="fb_text">
                    <p>2 Estrellas</p>
                  </div>
                  <div class="fb_bar_container">
                    <div class="fb_bar_complete">
                    </div>
                  </div>
                </div>
                <div class="fb_bar1">
                  <div class="fb_text">
                    <p>1 Estrellas</p>
                  </div>
                  <div class="fb_bar_container">
                    <div class="fb_bar_complete">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Boton Recomendado -->
              <div class="fb_btn_2">
                <div class="fb_btn_percent">
                  <h2>96%</h2>
                </div>
                <div class="fb_btn_recom">
                  <p>de los consumidores recomiendan este producto</p>
                </div>
              </div>
              <!-- Barras Especificaciones -->
              <div class="spec_container">
                <div class="spec1">
                  <div class="spec_tittle_container">
                    <h3>Talle</h3>
                  </div>
                  <div class="spec_bar_container">
                    <div class="spec_bar"></div>
                    <div class="spec_bar_dot"></div>
                  </div>
                  <div class="spec_text_container">
                    <p>pequeño</p>
                    <p>perfecto</p>
                    <p>grande</p>
                  </div>
                </div>
                <div class="spec2">
                  <div class="spec_tittle_container">
                    <h3>Ancho</h3>
                  </div>
                  <div class="spec_bar_container">
                    <div class="spec_bar"></div>
                    <div class="spec_bar_dot"></div>
                  </div>
                  <div class="spec_text_container">
                    <p>estrecho</p>
                    <p>perfecto</p>
                    <p>ancho</p>
                  </div>
                </div>
                <div class="spec3">
                  <div class="spec_tittle_container">
                    <h3>Comodidad</h3>
                  </div>
                  <div class="spec_bar_container">
                    <div class="spec_bar"></div>
                    <div class="spec_bar_dot"></div>
                  </div>
                  <div class="spec_text_container">
                    <p>deficiente</p>
                    <p>normal</p>
                    <p>perfecto</p>
                  </div>
                </div>
                <div class="spec4">
                  <div class="spec_tittle_container">
                    <h3>Calidad</h3>
                  </div>
                  <div class="spec_bar_container">
                    <div class="spec_bar"></div>
                    <div class="spec_bar_dot"></div>
                  </div>
                  <div class="spec_text_container">
                    <p>deficiente</p>
                    <p>normal</p>
                    <p>perfecto</p>
                  </div>
                </div>
              </div>
              <div class="fb_btn">
                <div class="fb_btn_score">
                  <h2>4.7</h2>
                </div>
                <div class="fb_btn_stars_container">
                  <div class="fb_btn_stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                  </div>
                  <div class="fb_btn_opi">
                    <p>246 Opiniones</p>
                  </div>
                </div>
              </div>
              <!-- Barras Estrellas -->
              <div class="fb_bars">
                <div class="fb_bar5">
                  <div class="fb_text">
                    <p>5 Estrellas</p>
                  </div>
                  <div class="fb_bar_container">
                    <div class="fb_bar_complete">
                    </div>
                  </div>
                </div>
                <div class="fb_bar4">
                  <div class="fb_text">
                    <p>4 Estrellas</p>
                  </div>
                  <div class="fb_bar_container">
                    <div class="fb_bar_complete">
                    </div>
                  </div>
                </div>
                <div class="fb_bar3">
                  <div class="fb_text">
                    <p>3 Estrellas</p>
                  </div>
                  <div class="fb_bar_container">
                    <div class="fb_bar_complete">
                    </div>
                  </div>
                </div>
                <div class="fb_bar2">
                  <div class="fb_text">
                    <p>2 Estrellas</p>
                  </div>
                  <div class="fb_bar_container">
                    <div class="fb_bar_complete">
                    </div>
                  </div>
                </div>
                <div class="fb_bar1">
                  <div class="fb_text">
                    <p>1 Estrellas</p>
                  </div>
                  <div class="fb_bar_container">
                    <div class="fb_bar_complete">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Menu Foto -->
          <div class="photo_container">
            <div class="photo_box">
              <img src="/images/top.jpeg" alt="">
            </div>
            <div class="arrows_container">
              <i class="fas fa-chevron-left"></i>
              <i class="fas fa-chevron-right"></i>
            </div>
          </div>
          <!-- Menu Info -->
          <div class="info_container">
            <div class="info_tittle">
              <h2><%= producto.nombre %></h2>
            </div>
            <div class="info_price">
              <h3>$<%= toThousand(producto.precio) %></h3>
            </div>
            <div class="info_disponible">
              <% if (producto.disp == true){ %>
                <p>Disponible <i class="fas fa-check"></i></p>
              <% } else { %>
                <p>Disponible <i class="fas fa-times"></i></p>
              <% } %>
            </div>
            <div class="info_color_container">
              <div class="info_color_tittle">
                <p>Color:</p>
              </div>
              <div class="info_color_boxes">
                <% if (producto.color.includes('Black')) { %>
                  <div class="color_box1"></div>
                <% } %>
                <% if (producto.color.includes('White')) { %>
                  <div class="color_box2"></div>
                <% } %>
                <% if (producto.color.includes('Red')) { %>
                  <div class="color_box3"></div>
                <% } %>
                <% if (producto.color.includes('Blue')) { %>
                  <div class="color_box4"></div>
                <% } %>
                <% if (producto.color.includes('Green')) { %>
                  <div class="color_box5"></div>
                <% } %>
              </div>
            </div>
            <div class="info_size_container">
              <div class="info_size_tittle">
                <p>Selecciona tu talle</p>
              </div>
              <div class="info_size_boxes">
                <% if (producto.talle.includes('S')) { %>
                <div class="size_box1">
                  <p>S</p>
                </div>
                <% } %>
                <% if (producto.talle.includes('M')) { %>
                <div class="size_box2">
                  <p>M</p>
                </div>
                <% } %>
                <% if (producto.talle.includes('L')) { %>
                <div class="size_box3">
                  <p>L</p>
                </div>
                <% } %>
                <% if (producto.talle.includes('XL')) { %>
                <div class="size_box4">
                  <p>XL</p>
                </div>
                <% } %>
              </div>
            </div>
            <div class="info_fit_container">
              <div class="info_fit_tittle">
                <p>Tipo de calce</p>
              </div>
              <div class="info_fit_boxes">
                <div class="fit_box1">
                  <% if (producto.calce == 'Skinny'){ %>                
                    <div class="fit_bar_active"></div>
                  <% } else { %> 
                    <div class="fit_bar"></div>  
                  <% } %>               
                  <div class="fit_bar_tittle">
                    <p>Skinny</p>
                  </div>
                </div>
                <div class="fit_box2">
                  <% if (producto.calce == 'Slim'){ %>                
                    <div class="fit_bar_active"></div>
                  <% } else { %> 
                    <div class="fit_bar"></div>  
                  <% } %>               
                  <div class="fit_bar_tittle">
                    <p>Slim</p>
                  </div>
                </div>
                <div class="fit_box3">
                  <% if (producto.calce == 'Regular'){ %>                
                    <div class="fit_bar_active"></div>
                  <% } else { %> 
                    <div class="fit_bar"></div>  
                  <% } %>               
                  <div class="fit_bar_tittle">
                    <p>Regular</p>
                  </div>
                </div>
                <div class="fit_box4">
                  <% if (producto.calce == 'Oversize'){ %>                
                    <div class="fit_bar_active"></div>
                  <% } else { %> 
                    <div class="fit_bar"></div>  
                  <% } %>               
                  <div class="fit_bar_tittle">
                    <p>Oversize</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="info_btn_container">
              <a href="">
                <div class="info_btn_buy">
                  <p>Agregar al carrito</p>
                </div>
              </a>
              <a href="">
                <div class="info_btn_love">
                  <i class="far fa-heart"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
  <!-- FOOTER -->
  <%- include('./templates/footer') %>
  </body>
</html>
