<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <%- include('../templates/cssbasic') %>
</head>

<body>
<!-- HEADER -->
  <%- include('../templates/header_full') %>
  <div class="body_container">
    <h1>Edicion usuario</h1>
    <form action="/user/edit/<%= user.id %>" method="POST">
      <div class="edit_field">
        <label for="username">Usuario</label>
        <input type="text" name="username" value="<%= user.username %>" placeholder="Edita tu Usuario"/> <br>
      </div>
      <div class="edit_field">
        <label for="">Nombre</label>
        <input type="text" name="firstname" value="<%= user.firstname %>" placeholder="Edita tu Nombre">
      </div>
      <div class="edit_field">
        <label for="">Apellido</label>
        <input type="text" name="lastname" value="<%= user.lastname %>" placeholder="Edita tu Apellido">
      </div>
      <div class="edit_field">
        <label for="">Celular</label>
        <input type="text" name="cel" value="<%= user.celular %>" placeholder="Ingresa tu telefono">
      </div>
      <div class="edit_field">
        <label for="">Email</label>
        <input type="text" name="email" value="<%= user.email %>" placeholder="Ingresa tu email">
      </div>
        <button type="submit">Confirmar</button>
    </form>
  </div>
<!-- FOOTER -->
    <%- include('../templates/footer') %>
</body>
</html>