<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <%- include('../templates/cssbasic') %>
</head>

<body>
<!-- HEADER -->
  <%- include('../templates/header') %>
  <div class="body_container">
    <h1>Edicion usuario</h1>
    <form action="/user/edit/<%= userFound.id %>" method="POST">
        <input type="number" name="id" value="<%= userFound.id %>" hidden/> 
        <input type="text" name="username" value="<%= userFound.username %>" placeholder="Edita tu Usuario"/> 
        <input type="text" name="firstname" value="<%= userFound.username %>" placeholder="Edita tu Nombre">
        <input type="text" name="lastname" value="<%= userFound.lastname %>" placeholder="Edita tu Apellido">
        <input type="text" name="cel" value="<%= userFound.cel %>" placeholder="Ingresa tu telefono">
        <input type="text" name="email" value="<%= userFound.email %>" placeholder="Ingresa tu email">
        <input name="password" type="password" hidden/>
        <input name="cpassword" type="password" hidden/> 
        <button type="submit">Confirmar</button>
    </form>
  </div>
<!-- FOOTER -->
    <%- include('../templates/footer') %>
</body>
</html>