<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <%- include('../templates/cssbasic') %>
</head>

<body>
<!-- HEADER -->
<%- include('../templates/header_full') %>
  <div class="body_container">
    <ul>
        <% for( let i = 0; i < user.length; i++ ) { %>
            <li>
                Nombre: <%= user[i].username %> - 
                Email: <%= user[i].email %> - 
                <a href="/user/edit/<%= user[i].id %>">EDITAR</a> - <a href="/user/delete/<%= user[i].id %>">BORRAR</a>        
            </li>
        <% } %>
        </ul>
  </div>
<!-- FOOTER -->
    <%- include('../templates/footer') %>
</body>

</html>