<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <%- include('../templates/cssbasic') %>
</head>

<body>
<!-- HEADER -->
  <%- include('../templates/header') %>
  <div class="body_container">
    <ul>
        <% users.forEach(function(user){ %>
            <li>
                Nombre: <%= user.username %> - 
                Email: <%= user.email %> - 
                <a href="/user/edit/<%= user.id %>">EDITAR</a> - <a href="/user/delete/<%= user.id %>">BORRAR</a>        
            </li>
        <% }); %>
        </ul>
  </div>
<!-- FOOTER -->
    <%- include('../templates/footer') %>
</body>

</html>