<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../templates/cssbasic') %>
    <link rel="stylesheet" href="/stylesheets/register.css">
</head>

<body>
  <!-- HEADER -->
  <%- include('../templates/header_register') %>
    <!-- Form -->
    <div class="body_container">
        <div class="form_login">
            <form action="/user/register" method="POST"> 
                <div class="con">
                    <section class="head-form">
                        <h2>Crea tu cuenta</h2>
                    </section>
                    <% if (typeof errors != 'undefined') { %>
                        <div id="modalErrors" class="modalErrors">
                            <h2>Errores</h2>
                            <ul>
                                <% for( let i = 0; i < errors.length; i++ ) { %>
                                    <li>
                                        <%= errors[i].msg%> 
                                    </li>
                                <% } %>
                            </ul>
                            <div class="cross">
                                <i onclick="closeModal()" id="cross" class="fas fa-times"></i>
                            </div>
                        </div>
                    <% } %>
                    <div class="field-config">
                        <input name="username" type="text" placeholder="Usuario" value="<% if(typeof errors != 'undefined'){%><%=req.body.username%><%}%>"/> 
                        <input name="firstname" type="text" placeholder="Nombre" value="<% if(typeof errors != 'undefined'){%><%=req.body.firstname%><%}%>"/>
                        <input name="lastname" type="text" placeholder="Apellido" value="<% if(typeof errors != 'undefined'){%><%=req.body.lastname%><%}%>"/>
                        <input name="cel" type="number" placeholder="Celular" value="<% if(typeof errors != 'undefined'){%><%=req.body.cel%><%}%>"/>
                        <input name="email" type="email" placeholder="E-mail" value="<% if(typeof errors != 'undefined'){%><%=req.body.email%><%}%>"/>
                        <input name="password" type="password" placeholder="Contraseña"/>
                        <input name="cpassword" type="password" placeholder="Repita la contraseña"/>
                    </div>
                    <button type="submit" class="log-in">Registrate</button>
                </div>
                <!-- End Form -->
            </form>

        </div>
    </div>
  <!-- HEADER -->
  <%- include('../templates/footer') %>
</body>
<script src="/javascripts/log_reg.js"></script>
<script src="/javascripts/register.js"></script>
</html>
