<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../templates/cssbasic') %>
    <link rel="stylesheet" href="/stylesheets/addProduct.css">
</head>

<body>
  <!-- HEADER -->
  <%- include('../templates/header_full') %>
    <div class="body_container">
        <div class="body_content">
            <h1>Carga de Productos</h1>
            <form class="form_add" enctype="multipart/form-data" action="/products/addproduct" method="POST">
                <div class="addPro">
                    <div class="addPro_option">
                        <label class="addPro_label" for="name">Nombre</label>
                        <input class="option" type="text" name="name" id="name" placeholder="Ingresa el nombre">
                    </div>
                    <div class="addPro_option">
                        <label class="addPro_label" for="price">Precio</label>
                        <input class="option" type="number" name="price" id="price" placeholder="Ingresa el precio">
                    <div class="addPro_option">
                        <label class="addPro_label" for="discount">Descuento</label>
                        <input class="option" type="number" name="discount" id="discount" placeholder="Ingresa el descuento">
                    </div>
                    <div class="addPro_option">
                        <label class="addPro_label" for="cat">Categoria</label>
                        <select class="option" name="cat">
                            <% for( let i = 0; i < values[0].length; i++ ) { %>
                                <option value="<%= values[0][i].dataValues.id %>">
                                <%= values[0][i].dataValues.name %> 
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="addPro_option">
                        <label class="addPro_label" for="fit">Calce</label>
                        <select class="option" name="fit">
                            <% for( let i = 0; i < values[1].length; i++ ) { %>
                                <option value="<%= values[1][i].dataValues.id %>">
                                <%= values[1][i].dataValues.name %> 
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="addPro_option">
                        <label class="addPro_label" for="brand">Marca</label>
                        <input class="option" type="text" name="brand" id="brand" placeholder="Ingresa la marca">
                    </div>
                    <div class="addPro_option">
                        <label class="addPro_label" for="color_id">Color</label>
                        <select class="option" name="color_id">
                            <% for( let i = 0; i < values[3].length; i++ ) { %>
                                <option value="<%= values[3][i].dataValues.id %>">
                                <%= values[3][i].dataValues.name %> 
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div class="addPro_option">
                        <label class="addPro_label" for="quant">Cantidad</label>
                        <input class="option" type="number" name="quant" id="quant" placeholder="Ingresa la cantidad">
                    </div>                
                    <div class="addPro_option">
                        <label class="addPro_label" for="img">Imagen</label>
                        <input class="option" class="agregarImagen" type="file" name="img">
                    </div>    
                    <div class="addPro_option">
                        <label class="addPro_label" for="desc">Descripcion</label>
                        <input class="option" class="desc" type="text" name="desc" id="desc" placeholder="Ingresa la descripcion">
                        </div>
                    <div class="addPro_option">
                        <label class="addPro_label" for="size">Talle</label>
                        <div class="option">
                                <% for( let i = 0; i < values[2].length; i++ ) { %>
                                    <div class="size_check">
                                        <label class="size_label" for="<%= values[2][i].dataValues.id %>"><%= values[2][i].dataValues.name %></label>
                                        <input name="size[]" type="checkbox" id="<%= values[2][i].dataValues.id %>" value="<%= values[2][i].dataValues.id %>">
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="butt_add">
                    <button class="reset" type="reset">Resetear Formulario</button>
                    <button class="agregarProducto" type="submit">Agregar Producto</button>
                </section>
            </form> 
        </div>
    </div>  
  <!-- FOOTER -->
  <%- include('../templates/footer') %>
</body>

</html>