<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('../templates/cssbasic') %>
    <link rel="stylesheet" href="/stylesheets/addProduct.css">
</head>

<body>
  <!-- HEADER -->
  <%- include('../templates/header_full') %>
    <div class="body_container">
        <div class="body_content">
            <h1>Carga de Productos</h1>
            <form class="form_add" enctype="multipart/form-data" action="/products/addproduct" method="POST">
                <div class="addPro">
                    <div><label for="name">Nombre</label><input type="text" name="name" id="name" placeholder="Ingresa el nombre"></div>
                    <div><label for="price">Precio</label> <input type="number" name="price" id="price" placeholder="Ingresa el precio"></div>
                    <div><label for="discount">Descuento</label> <input type="number" name="discount" id="discount" placeholder="Ingresa el descuento"></div>
                    <div>
                        <label for="cat">Categoria</label>
                        <select name="cat">
                            <% for( let i = 0; i < values[0].length; i++ ) { %>
                                <option value="<%= values[0][i].dataValues.id %>">
                                <%= values[0][i].dataValues.name %> 
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        <label for="fit">Calce</label>
                        <select name="fit">
                            <% for( let i = 0; i < values[1].length; i++ ) { %>
                                <option value="<%= values[1][i].dataValues.id %>">
                                <%= values[1][i].dataValues.name %> 
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div><label for="brand">Marca</label><input type="text" name="brand" id="brand" placeholder="Ingresa la marca"></div>
                    <div>
                        <label for="size">Talle</label>
                        <select name="size">
                            <% for( let i = 0; i < values[2].length; i++ ) { %>
                                <option value="<%= values[2][i].dataValues.id %>">
                                <%= values[2][i].dataValues.name %> 
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        <label for="color_id">Color</label>
                        <select name="color_id">
                            <% for( let i = 0; i < values[3].length; i++ ) { %>
                                <option value="<%= values[3][i].dataValues.id %>">
                                <%= values[3][i].dataValues.name %> 
                                </option>
                            <% } %>
                        </select>
                    </div>
                    <div><label for="quant">Cantidad</label><input type="number" name="quant" id="quant" placeholder="Ingresa la cantidad"></div>                
                    <div><label for="img">Imagen</label><input class="agregarImagen" type="file" name="img"></div>    
                    <div><label for="desc">Descripcion</label><input class="desc" type="text" name="desc" id="desc" placeholder="Ingresa la descripcion"></div>
                </div>
                <section class="butt_add">
                    <button class="reset" type="reset">Resetear Formulario</button>
                    <button class="agregarProducto" type="submit">Agregar Producto</button>
                </section>
            </form> 
        </div>
    </div>  
  <!-- FOOTER -->
  <%- include('../templates/footer') %>
</body>

</html>