<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../templates/cssbasic') %>
    <link rel='stylesheet' href='/stylesheets/products.css' />
    <link rel='stylesheet' href='/stylesheets/acordeon.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  </head>
  <body>
  <!-- HEADER -->
  <%- include('../templates/header_full') %>
    <!-- BODY -->
      <div class="body_container">
        <div class="h_filter_diagram">
          <div class="h_filter_left">
            <a href="#">Atras</a>
          </div>
          <div class="h_filter_right">
            <div class="h_filter_pos">
              <a href="/">Inicio</a>
              <p>/</p>
              <a href="#">Los más vendidos</a>
            </div>
            <div class="h_filter_article">
              <p><%= products.length %> Articulos</p>
            </div>
          </div>
        </div>
        <div class="products_container">
          <div class="filter">
            <div class="filter_head">
                <h3>Filtros</h3>
                <a href="">aplicar filtros</a>
            </div>
            <div class="filter_bot">
              <ul id="accordion" class="accordion">
                <li>
                  <div class="link">CATEGORIA<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <% for( let i = 0; i < values[1].length; i++ ) { %>
                      <li><a href="#"><%= values[1][i].name %> </a></li>
                    <% } %>
                  </ul>
                </li>
                <li>
                  <div class="link">PRECIO<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <% for( let i = 0; i < values[2].length; i++ ) { %>
                      <li><a href="#"><%= values[2][i].name %> </a></li>
                    <% } %>
                  </ul>
                </li>
                <li>
                  <div class="link">COLOR<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <% for( let i = 0; i < values[2].length; i++ ) { %>
                      <li><a href="#"><%= values[2][i].name %> </a></li>
                    <% } %>
                  </ul>
                </li>
                <li><div class="link">MARCA<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <% for( let i = 0; i < values[3].length; i++ ) { %>
                      <li><a href="#"><%= values[3][i].name %> </a></li>
                    <% } %>
                  </ul>
                </li>
                <li><div class="link">TALLE<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <% for( let i = 0; i < values[4].length; i++ ) { %>
                      <li><a href="#"><%= values[4][i].name %> </a></li>
                    <% } %>
                  </ul>
                </li>
                <li><div class="link">DEPORTE<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a href="#">Google</a></li>
                    <li><a href="#">Bing</a></li>
                    <li><a href="#">Yahoo</a></li>
                    <li><a href="#">Otros buscadores</a></li>
                  </ul>
                </li>
                <li><div class="link">RANKING<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a href="#">Google</a></li>
                    <li><a href="#">Bing</a></li>
                    <li><a href="#">Yahoo</a></li>
                    <li><a href="#">Otros buscadores</a></li>
                  </ul>
                </li>
                <li><div class="link">PRODUCTO<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a href="#">Google</a></li>
                    <li><a href="#">Bing</a></li>
                    <li><a href="#">Yahoo</a></li>
                    <li><a href="#">Otros buscadores</a></li>
                  </ul>
                </li>
                <li><div class="link">SALE<i class="fa fa-chevron-down"></i></div>
                  <ul class="submenu">
                    <li><a href="#">Google</a></li>
                    <li><a href="#">Bing</a></li>
                    <li><a href="#">Yahoo</a></li>
                    <li><a href="#">Otros buscadores</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="products">
            <!-- <!-- Producto -->
            <% for( let i = 0; i < products.length; i++ ) { %>
              <a href="/products/<%= products[i].id %>">
                <article class="product" style="background-image: url(/images/products/<%= products[i].imglink %>);"> 
                  <div class="product_bot">
                    <div class="product_title">
                      <p><%= products[i].name %></p>
                      <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                    </div>
                    <div class="product_price">
                      <p>ARS <%= products[i].price %></p>
                    </div>
                    <div class="product_btns">
                      <a class="btn_love" href=""><i class="far fa-heart"></i></a>
                      <a class="btn_buy" href="/products/<%= products[i].id%>">AGREGAR AL CARRITO</a>
                    </div>
                  </div>
                </article>
              </a>
          <% } %>
          </div>
        </div>
      </div>
  <!-- FOOTER -->
  <%- include('../templates/footer') %>
  </body>
  <script>
    $(function() {
    var Accordion = function(el, multiple) {
      this.el = el || {};
      this.multiple = multiple || false;
  
      // Variables privadas
      var links = this.el.find('.link');
      // Evento
      links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
    }
  
    Accordion.prototype.dropdown = function(e) {
      var $el = e.data.el;
        $this = $(this),
        $next = $this.next();
  
      $next.slideToggle();
      $this.parent().toggleClass('open');
  
      if (!e.data.multiple) {
        $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
      };
    }	
  
    var accordion = new Accordion($('#accordion'), false);
  });
  </script>
</html>
