<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../templates/cssbasic') %>
    <link rel='stylesheet' href='/stylesheets/products.css' />
  </head>
  <body>
  <!-- HEADER -->
  <%- include('../templates/header_full') %>
    <!-- BODY -->
      <div class="body_container">
        <div class="h_filter_diagram">
          <div class="h_filter_left">
            <a href="#">Atras</a>
          </div>
          <div class="h_filter_right">
            <div class="h_filter_pos">
              <a href="/">Inicio</a>
              <p>/</p>
              <a href="#">Los más vendidos</a>
            </div>
            <div class="h_filter_article">
              <p><%= products.length %> Articulos</p>
            </div>
          </div>
        </div>
        <div class="products_container">
          <div class="filter">
            <div class="filter_head">
                <h3>Filtros</h3>
                <a href="">aplicar filtros</a>
            </div>
            <div class="filter_bot">
              <ul>
                <div class="filter_sec">
                  <li>ordenar por</li>
                  <i class="fas fa-chevron-right"></i>
                </div>
                <div class="filter_sec">
                  <li>categoria</li>
                  <i class="fas fa-chevron-right"></i>
                </div>
                <div class="filter_sec">
                  <li>precio</li>
                  <i class="fas fa-chevron-right"></i>
                </div>
                <div class="filter_sec">
                  <li>color</li>
                  <i class="fas fa-chevron-right"></i>
                </div>
                <div class="filter_sec">
                  <li>marca</li>
                  <i class="fas fa-chevron-right"></i>
                </div>
                <div class="filter_sec">
                  <li>talle</li>
                  <i class="fas fa-chevron-right"></i>
                </div>
                <div class="filter_sec">
                  <li>deporte</li>
                  <i class="fas fa-chevron-right"></i>
                </div>
                <div class="filter_sec">
                  <li>ranking</li>
                  <i class="fas fa-chevron-right"></i>
                </div>
                <div class="filter_sec">
                  <li>producto</li>
                  <i class="fas fa-chevron-right"></i>
                </div>
                <div class="filter_sec">
                  <li>sale</li>
                  <i class="fas fa-chevron-right"></i>
                </div>
              </ul>
            </div>
          </div>
          <div class="products">
            <!-- <!-- Producto -->
            <% for( let i = 0; i < products.length; i++ ) { %>
              <article class="product">
                <i class="far fa-heart"></i>
                <div class="product_inside">
                  <div class="product_image_conteiner">
                    <img src="/images/stock/<%= products[i].dataValues.imglink%>" alt="">
                  </div>
                  <div class="product_text">
                    <p class="product_name"><%= products[i].dataValues.name %></p>
                    <p class="product_price">$<%= products[i].dataValues.price %></p>
                    <a href="/products/<%= products[i].dataValues.id %>" class="addbasket">COMPRAR</a>
                  </div>  
                </div>
              </article>
          <% } %>
          </div>
        </div>
      </div>
  <!-- FOOTER -->
  <%- include('../templates/footer') %>
  </body>
</html>
