<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../templates/cssbasic') %>
    <link rel='stylesheet' href='/stylesheets/body_carrito.css' />

  </head>
  <body>
  <!-- HEADER -->
  <%- include('../templates/header_full') %>
    <!-- BODY -->
    <nav>
      <div class="body_container">
        <div class="body_content">
          <!-- ·* Titulo  -->
          <div class="tittle_conteiner">
            <div class="tittle">
              <h1>MI CARRITO</h1>
            </div>
          </div>
          <!-- ·* Productos y Resumen  -->
          <div class="prod_sum_conteiner">
            <!-- ·* Productos  -->
            <div class="products">
              <% products.forEach(product => { %>
                <div class="product_content">
                  <div class="product_left">
                      <div class="product_imgbox">
                       <img src="/images/products/<%=product.imglink %> " alt="">
                      </div>
                      <div class="product_desc">
                         <h2><%= product.name %></h2>
                         <ul>
                           <li>Calce: <%= product.fits.name %> </li>
                           <li>Color: <%= product.colors.name %> </li>
                           <li>Talle: <%= product.sizes.name %> </li>
                         </ul>
                         <% if (product.quantity > 0){ %>
                          <p>Disponible <i class="fas fa-check"></i></p>
                          <% } else { %>
                            <p>Disponible <i class="fas fa-times"></i></p>
                          <% } %>
                         <p class="product_love">Mover a lista de deseados</p>
                      </div>
                  </div>
                  <div class="product_right">
                    <div class="product_right_content">
                      <div class="product_end_cant">
                        <p>Cantidad:</p>
                      </div>
                      <div class="product_end_price">
                         <p><%= toThousand(product.price)%> $</p>
                      </div>
                    </div>
                  </div>
                  <div class="cross_container">
                    <a href="/cart/deleteProduct/<%= product.id %>" >
                      <div class="crossbox">
                        <i class="fas fa-times"></i>
                      </div>
                    </a>
                </div>
                </div>
              <% }) %> 
            </div>
            <!-- ·* Resumen  -->
            <div class="summary_acc_container">
              <div class="summary_acc">
                <div class="summary_tittle">
                  <h3>Resumen de cuenta</h3>
                </div>
                <div class="summary_content">
                  <div class="summary_products">
                    <p> <%= products.length %><% if (products.length > 1) {%>
                     <%= 'Productos' %> 
                    <%}else{%>
                      <%= 'Producto' %> 
                      <% } %> 
                    </p>
                  </div>
                  <div class="summary_cash">
                    <div class="sleft">
                      <p>Monto de la compra</p>
                    </div>
                    <div class="sright">
                      <p>$</p>
                    </div>
                  </div>
                  <div class="summary_ship">
                    <div class="sleft">
                      <p>Envío</p>
                    </div>
                    <div class="sright">
                      <p>Gratis</p>
                    </div>
                  </div>
                  <div class="summary_total">
                    <div class="sleft">
                      <p>Total</p>
                    </div>
                    <div class="sright">
                      <p>$</p>
                    </div>
                  </div>
                  <div class="summary_fac">
                    <div class="sleft">
                      <p>Opciones de financiacion</p>
                    </div>
                    <div class="sright">
                      <p>3 cuotas sin interes de</p>
                    </div>
                  </div>
                  <div class="summary_dir">
                    <div class="dir_top">
                      <p>Dirección de entrega:</p>
                    </div>
                    <div class="dir_bot">
                      <p>Av. Alvarez Thomas 1121,7to "A" Caba - CP 1427 - Argentina</p>
                    </div>
                  </div>
                  
                </div>
                <div class="summary_btn">
                  <a href="" class="summary_continue">Continuar</a>
                </div>
                <div class="summary_extra">
                  <p>Debido a la contingencia por el virus COVID-19 y los esfuerzoz para mantener segura nuestra comunidad, los tiempos de envío podrán extenderse  2  días  adicionales  para CABA y 8 días para el resto del país a  nuestros  tiempos regulares de envío. El plazo para CAMBIOS y DEVOLUCIONES se extiende a 90 días.<br>Más información aquí.</p>
                </div>
              </div>
            </div>          
          </div>
        </div>
      </div>
    </nav>
  <!-- FOOTER -->
  <%- include('../templates/footer') %>
  </body>
</html>
